doctype html
html(lang='en')
    head
        title 배민상회
        meta( name='viewport', content='width=device-width, initial-scale=1.0')
        style
            include ../public/css/signUp.css
    body
        header(class='banner')
            img(src="/img/banner.png" class='banner__img'  alt='banner')

        div(class='container')
            form(class='data' method='POST')
                section(class='requirements')
                    div(class='instruction') 필수 정보를 입력해주세요.

                    div(class='id-form')
                        input(
                            type = 'text'
                            class = 'id-form__input input-form'
                            placeholder = '아이디*(4~20자)'
                        )

                    div(class='password-form')
                        input(
                            type = 'password'
                            class = 'password-form__input input-form'
                            placeholder = '비밀번호*(영문+숫자, 8~20자)'
                        )

                    div(class='password-check-form')
                        input(
                            type = 'password'
                            class = 'password-check-form__input input-form'
                            placeholder = '비밀번호 재확인*'
                    )
                    div(class='email-form')
                        input(
                            type = 'text'
                            class = 'email-form__id-input input-form'
                            placeholder = '이메일 앞자리*'
                        )
                        p(class='email-form__at') @
                        input(
                            type = 'text'
                            class = 'email-form__domain-input input-form'
                            placeholder = '이메일 뒷자리*'
                        )

                    div(class='email-domain-selector')
                        select(
                            class = 'email-domain-selector__list input-form'
                        )
                            option(value='') 이메일 선택
                            option(value='gmail.com') gmail.com
                            option(value='naver.com') naver.com
                            option(value='hanmail.net') hanmail.net
                            option(value='others') 직접입력

                    div(class='name-form')
                        input(
                            type = 'text'
                            class = 'name-form__input input-form'
                            placeholder = '이름*'
                        )

                    div(class='mobile-form')
                        input(
                            type = 'text'
                            class = 'mobile-form__input input-form' 
                            placeholder = '휴대폰*'
                        )
                        button(
                            class = 'mobile-form__valid-btn'
                        ) 인증받기

                    div(class="description")
                        p(class="description__item") · 인증번호 전송은 통신사에 따라 최대 1분까지 소요될 수 있습니다
                        p(class="description__item") · 인증번호가 도착하지 않을 경우 '인증번호 재전송'을 눌러주세요

                section(class='optional')
                    div(class='option-check-form')
                        input(
                            class='option-check__checkbox'
                            type = 'checkbox'
                        ) 
                        label(class='option-check__description') 선택 정보를 입력하시겠어요? 
                        a(href='//google.com' class="option-check__link") 내용보기

                    div(class='zipcode-form')
                        input(
                            type = 'text'
                            class = 'zipcode-form__input input-form'
                            placeholder = '우편번호'
                        )

                        button(
                            class = 'zipcode-form__valid-btn'
                        ) 주소찾기

                    input(
                        type = 'text'
                        class = 'address-form__address-input input-form'
                        placeholder = '주소'
                    )

                    input(
                        type = 'text'
                        class = 'address-form__detail-address-input input-form'
                        placeholder = '상세주소'
                    )

                section(class='agreement')
                    div(class='agreement-form-all')
                        input(
                            class='agreement-form-all__checkbox'
                            type = 'checkbox'
                        ) 
                        label(class="agreement-form-all__text") 전체 약관에 동의합니다.

                    div(class='agreement-form-must')
                        input(
                            class='agreement-form-must-checkbox'
                            type = 'checkbox'
                        ) 
                        label(class="agreement-form-must__text") 필수 항목에 동의합니다. 

                    div(class='agreement-links')
                        a(href='//google.com' class='agreement-links__item') 배민사장님광장 이용약관
                        a(href='//google.com' class='agreement-links__item') 개인정보 수집이용 동의

                    div(class='agreement-form-optional')
                        input(
                            class='address-form-optional-checkbox'
                            type='checkbox'
                        ) 
                        label(class="agreement-form-optional__text") 광고성 정보 수신 동의(선택)

                    div(class="agreement-description")
                        p(class='agreement-description__item') · 만 14세 이상 회원만 가입 가능합니다.
                        a(href='//google.com' class='agreement-description__links') 내용보기

                    button(
                        class='complete-btn'
                        ) 가입완료

        script
            include ../public/js/signUp.js
            include ../public/js/utils/inputHandlers.js
            include ../public/js/utils/domControl.js
            include ../public/js/utils/validations.js
