doctype html
html(lang='en')
    head
        title 배민상회
        meta( name='viewport' content='width=device-width, initial-scale=1.0')
        style 
            include ../public/css/signIn.css
    body
        header(class='banner') 
            img(src="/img/banner.png" class='banner__img'  alt='banner')

        div(class='container')
            form(action='/api/login' method='POST')
                div(class='id-form')
                    input(
                        class='id-form__input input-form'
                        name='id'
                        type='text'
                        placeholder='아이디'
                    )
    
                div(class='password-form')
                    input(
                        class='password-form__input input-form'
                        name='password'
                        type='password'
                        placeholder='비밀번호'
                    )
    
                div(class='others-form')
                    div(class='remember-id')
                        input(
                            class='remember-id__checkbox'
                            name='willRemember'
                            type='checkbox'
                        )
                        label(class='remember-id__label') 아이디 저장

                    div(class='others-form__links')
                        div(class='others__find-id-pw-link') 아이디 / 비밀번호 찾기
                        div(class='others__signup-link') 회원가입
    
                button(
                    class='login-btn'
                    type='submit'
                ) 로그인
